<div ng-controller="AppCtrl">
   	<br>
   	<br>
   	<br>
    <div class="row">
    	<div class="col-md-6">
    		<div class="row"><p style="text-align: center;">Check your ToDos</p></div>
    		<div class="row">
    			<div class="col-md-4">Mail Id</div>
    			<div class="col-md-8"><input type="email" ng-model="userMail"/></div>
    		</div>
    		<br>
    		<div class="row">
    			<div class="col-md-4">Secret Code</div>
    			<div class="col-md-8"><input type="password" ng-model="userSecretCode"/></div>
    		</div>
    		<br>
    		<div class="row" style="text-align: center;"><button ng-click="getToDos()">Get My ToDos</button></div>
    	</div>
    	<div class="col-md-6">
    		<div class="row"><p style="text-align: center;">Register for ToDos</p></div>
    		<div class="row">
    			<div class="col-md-4">Full Name</div>
    			<div class="col-md-8"><input type="text" ng-model="userFullName"/></div>
    		</div>
    		<br>
    		<div class="row">
    			<div class="col-md-4">Mail Id</div>
    			<div class="col-md-8"><input type="email" ng-model="userRegMail"/></div>
    		</div>
    		<br>
    		<div class="row">
    			<div class="col-md-4">Secret Code</div>
    			<div class="col-md-8"><input type="password" ng-model="userRegSecretCode"/></div>
    		</div>
    		<br>
    		<div class="row">
    			<div class="col-md-4">Confirm Secret Code</div>
    			<div class="col-md-8"><input type="password" ng-model="userRegConfirm"/></div>
    		</div>
    		<br>
    		<div class="row">
    			<div class="col-md-4">Date Of Birth</div>
    			<div class="col-md-8"><input type="datetime" ng-model="dateOfBirthReg"/></div>
    		</div>
    		<br>
    		<div class="row" style="text-align: center;"><button ng-click="registerUser()">Register for ToDos</button></div>
    	</div>
    </div>
</div>